*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #caf0f8;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    text-align: center;
    margin-bottom: 20px;
    color: #00bbf9;
    margin-top: 10px;
}
 table{
   border-collapse:collapse;
   width: 1200px;
   max-width: 760px;
   margin: auto;
   text-align: center;
   background-color: #48cae4;
}
table th,td{
    width: 300px;
    border: 3px solid #00bbf9;
    font-weight: 800;
    font-size: 1.3em;
    padding: 15px;
  
}
th{
    color: black;
  
}
td{
    color: #ffff;
}


@media(max-width:760px){
    table {
   
      width: 360px;
    }
}